{% extends 'main/base.html' %}
{% load static %}
{% block title %}Новостная страница{% endblock %}

{% block content %}

<h1>Новости</h1>
<hr>

{% for new in news %}
    <div>
        <h3>
            <strong>Заголовок новости:</strong> {{ new.title }}
        </h3>
        <p>
            <strong>Краткое описание:</strong> {{ new.short_description }}
        </p>
        <p>
            <strong>Текст новости:</strong> {{ new.text }}
        </p>
        <p>
            <strong>Дата публикации:</strong> {{ new.pub_date }}
        </p>
        <p>
            <strong>Автор:</strong> {{ new.author }}
        </p>
    </div>


{% endfor %}

{% endblock %}
